<div class="container contact-container">
  <div class="cf panel panel-default contact-container">
    <div class="panel-heading cf-purple">
      <h4>Contact Information</h4>
    </div>
    <div class="cf">
      <h3>Phone number: +359123456789</h3>
      <h3>Email: admin@backwatergems.com</h3>
      <h3>Address: Bul. "Aleksander Malinov“ 31, 1729 Sofia, Bulgaria</h3>
    </div>
  </div>
</div>