<div class="container">
    <div class="panel panel-primary">
        <div id="home-page-panel-heading" class="panel-heading text-center">
            <strong class="panel-title">Latest Products</strong>
        </div>
        <div class="panel-body">
            {{#each products}}
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                <div class="thumbnail">
                    <img src="{{this.img}}" class="img-responsive" alt="Image">
                    <div class="caption">
                        <h3 class="product-title">{{this.title}}</h3>
                        <div class="row">
                            <div class="field-box">
                                <span class="thumbnail-label ">Price:</span>
                                <span class="thumbnail-price product-price">{{this.price}}$</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="field-box">
                                <span class="thumbnail-label">Added on:</span>
                                <span class="thumbnail-date">{{this.date}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="btn btn-default add-to-cart-button">Add to cart</div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>