<div class="container">
    <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1">Search</span>
        <input type="text" class="form-control" placeholder="" aria-describedby="sizing-addon1">
    </div>
    <br>

    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <strong class="panel-title">Latest Products: {{this.date}}</strong>
        </div>
        <div class="panel-body">
            {{#each products}}
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                <div class="thumbnail">
                    <img src="{{this.img}}" class="img-responsive" alt="Image">
                    <div class="caption">
                        <h3>{{this.title}}</h3>
                        <p class="product-price pull-left">Price: {{this.price}}$</p>
                        <div class="panel-footer">
                            <div class="btn btn-default add-to-cart-button">Add to cart</div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>