<div class="container">
    <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1">Search</span>
        <input type="text" class="form-control" placeholder="" aria-describedby="sizing-addon1">
    </div>
    <br>

    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <strong class="panel-title">Latest Products: {{this.date}}</strong>
        </div>
        <div class="panel-body">
            {{#each products}}
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading product-title">{{this.title}}</div>
                    <div class="panel-body">
                        <img src="{{this.img}}" class="img-responsive" id="img-upload" alt="Image">
                    </div>
                    <div class="panel-footer">
                        <strong class="product-price pull-left product-price" id="productPrice">Price: {{this.price}} $</strong>
                        <div class="btn btn-warning pull-right add-to-cart-button">Add to cart</div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>