<div class="cart-container hidden">
        <div class="cart-box">
            <h1> Products </h1>
            <div class="list-group">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src={{"./images/opinicus-team-icon.jpg"}}>
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{Product 1}}</h4>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="./images/opinicus-team-icon.jpg" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Product 2</h4>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="./images/opinicus-team-icon.jpg" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Product 3</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 pull-left">
                    <label>Total :</label>
                    <span>{{amount}}</span>
                </div>
                <div class="col-xs-2">
                    <span>{{totalPrice}}</span>
                </div>
            </div>
            <button id="buyButton">Buy</button>
        </div>
    </div>