.cart-container{
  z-index: 999;
  width:400px;
  height:400px;
  position:absolute;
  top:calc(50vh - 200px);
  left:calc(50vw - 200px);
  overflow:hidden;
}
.cart-box{
  position:absolute;
  height:100%;
  width:100%;
  font-family:Helvetica;
  color:#fff;
  background: darkcyan;
  padding:10px 5px;
  
}
.cart-box h1{
  text-align:center;
  margin:0px 0px;
  font-size:30px;
}

.cart-box button{
  background:#742ECC;
  border:0;
  color:#fff;
  padding:10px;
  font-size:20px;
  width:300px;
  margin:20px auto;
  display:block;
  cursor:pointer;
}
.cart-box button:active{
  background:#27ae60;
}
.cart-box p{
  font-size:14px;
  text-align:center;
}
.cart-box p span{
  cursor:pointer;
  color:#666;
}

.list-group{
  overflow-y: scroll;
  height:59%;
  width:100%;
  padding: 30px 0px;

}
.media-object{
width:50px;
height:50px;
}
.cart-box ::-webkit-scrollbar {
    width: 12px;
}
 
.cart-box ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
.cart-box ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}