html{
    position: relative;
    width: 100%;
    min-height: 100%;
    
    background-image: url("../images/night-sky-stars.gif");
    background-repeat: repeat;
}
body{
    margin-bottom: 70px;
    background-color: transparent;
}

header{
    background-color: #089846;
}
header h1 {
    color: #742ECC;
    font-size: 64px;
}

main{
    overflow: auto;
}
.container{
    background-color: transparent !important;
}
.panel{
    background-color: transparent !important;
}
.panel-primary{
    border-color: black;
}
.panel-primary .panel-heading{
    background-color: #742ECC;
    border-color: #742ECC;
    border-radius: 2px;
}

.navbar{
    border-radius: 0px;
}

.footer{
    padding-top: 1.5em;
    background-color: #089846;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 70px;
    width: 100%;
    overflow:hidden;
}

.team-logo{
    padding-right: 10px;
    border-radius: 5px; 
    width: 45px;
    height: 45px;
}
    
.social:hover {
    transform: scale(1.1);
 }
 .social {
    transform: scale(0.8);
    transition-duration: 0.5;
 }
 #social-fb:hover {
     color: #3B5998;
 }
 #social-git:hover {
     color: black;
 }
 #social-em:hover {
     color: #f39c12;
 }

 #disabled-background {
    position:fixed;
    top:0;
    left:0;
    background:lightgray;
    opacity:0.8;
    z-index:998;
    height:100%;
    width:100%;
}

.hidden {
    display: none;
}

.toast-success {
  background-color: mediumpurple;
}


@media (min-width: 1200px){
    .col-lg-2{
        width: 25%;
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    .col-md-3{
        width: 45%;
    }
    .thumbnail{
        zoom: 105%;
    }
    
}
@media (min-width: 768px) and (max-width: 991px){
    .thumbnail{
        zoom: 110%;
    }
    body{
        font-size: 18px;
    }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .thumbnail{
        zoom: 125%;
    }
    body{
        font-size: 20px;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .thumbnail{
        zoom: 135%;
    }
    body{
        font-size: 18px;
    }
}