html{
    position: relative;
    width: 100%;
    min-height: 100%;
}

body{
    margin-bottom: 70px;
}

header{
    background-color: orange;
}

main{
    overflow: auto;
}

.navbar{
    border-radius: 0px;
}

.footer{
    padding-top: 1.5em;
    background-color: orange;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 70px;
    width: 100%;
    overflow:hidden;
}

.team-logo{
    padding-right: 10px;
    border-radius: 5px; 
    width: 45px;
    height: 45px;
}
    
.social:hover {
    transform: scale(1.1);
 }
 .social {
    transform: scale(0.8);
    transition-duration: 0.5;
 }
 #social-fb:hover {
     color: #3B5998;
 }
 #social-git:hover {
     color: black;
 }
 #social-em:hover {
     color: #f39c12;
 }

 #disabled-background {
    position:fixed;
    top:0;
    left:0;
    background:lightgray;
    opacity:0.8;
    z-index:998;
    height:100%;
    width:100%;
}

.hidden {
    display: none;
}