.thumbnail{
    max-width: 300px;
    background-color: #089846;
}

.product-price{
    padding-top: 0.8em;
}

.thumbnail-price{
    display:block;
    max-width:300px;
    margin:20px auto;
    padding:15px;
    background:rgba(0,0,0,0.3);
    color:#fff;
    border:0;
}

.panel-footer{
    padding: 0px;
    background-color: #089846;
    border-top: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.add-to-cart-button{
    border-radius: 0px;
    background-color: #742ECC;  
    color: #ffffff;
    
}