.product-form-container{
    max-width: 800px;
}
.product-form-panel{
    padding-bottom: 15px; 
}
.product-form-panel-heading{
    margin-bottom: 15px; 
}
.product-form-group-body{
    padding-left: 25px;
    padding-right: 25px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 50%;
    height: 40%;
}